.app_wrapper{
    display: grid;
    font-family: Roboto, sans-serif;
    grid-template-rows: 70px 1fr;
    grid-template-columns: 70px 1fr;
    background-color: gainsboro;
    min-height: 100vh;
}


.content {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 2;
    padding: 2vw 3vw 3vw;
}
